/* WelcomePage.css */

.welcome-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header img {
  width: 100%;
  height: auto;
}

header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.key-points {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.key-points div {
  text-align: center;
}

.key-points img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.wrapper {
  width: 145px;
  min-height: 175px;
  background-color: lightgrey;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}

.how-it-works,
.why-choose {
  margin: 20px 0;
}

.how-it-works div,
.why-choose div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.how-it-works img,
.why-choose img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cta {
  text-align: center;
}
.cta img{
  width: 50%;
  float: right;
}
.bottom{
  margin-top: auto;
}
.cta button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
