nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
}
.navbar-menu-container {
    display: none;
}
.navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
.primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}
.navbar-cart-icon {
    font-size: 1.15rem;
}
.primary-button:hover {
    background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
}